*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    min-height: 8vh;
    z-index: 99;
    font-family: 'Poppins', sans-serif;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0;
    transform: translateX(0px);
    animation: navbar-slide-in 0.7s 0.5s forwards;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 30%;
    opacity: 0;
    animation: navlinks-slide-in 0.7s 0.5s forwards;
}

.navlinks a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.navlinks li{
    list-style: none;
}

.background{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    line-height: 2.0;
}

.background img{
    height: 400px;
    width: 330px;
    transform: rotateZ(20deg) translate(160px, 130px);
    animation: phone-rotate 1s 1.2s forwards;
}

.layer{
    width: 100%;
    height: 700px;
    position: absolute;
    background: linear-gradient(to bottom, transparent, rgba(111, 253, 244, 0.5) 90%);
}

.description{
    transform: translate(470px, -50px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: white;
    /* width of div fits content */
    display: inline-block;
}

.description button{
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.description div{
    transform: translateX(-20px);
    opacity: 0;
    animation: main-desc-slide-in 0.7s 2s forwards;
}

.description button{
    transform: translateX(20px);
    opacity: 0;
    animation: sub-desc-slide-in 0.7s 2s forwards;
}

.burger div{
    transition: all 0.3 ease-in;
}

@keyframes navbar-slide-in{
    from{
        opacity: 0;
        transform: translateX(0px);
    }to{
        opacity: 1;
        transform: translateX(30px);
    }
}

@keyframes navlinks-slide-in{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes phone-rotate{
    from{
        transform: rotateZ(20deg) translate(160px, 130px);
    }to{
        transform: rotateZ(0deg) translate(160px, 130px);
    }
}

@keyframes main-desc-slide-in{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes sub-desc-slide-in{
    from{
        opacity: 0;
        transform: translateX(20px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* burger navbar */
.burger{
    display: none;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease-in;
}

/* Mega dropdown */
.mega-dropdown{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex-direction: row;
    position: absolute;
    transform: translateY(-680px);
    background-color: white;
    opacity: 0;
    padding: 20px 0px;
}

.mega-dropdown li{
    list-style: none;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.mega-dropdown li a{
    text-decoration: none;
    color: black;
}

.child{
    width: 300px;
    margin: 20px 0px;
    opacity: 0;
}

.title{
    font-size: 20px;
}

.fas{
    transform: translateY(1px);
    transition: 0.8s;
}

.arrow-animate{
    transform: rotateX(180deg);
}

/* animate mega dropdown */
@keyframes mega-dropdown-in{
    from{
        opacity: 0;
        transform: translateY(-670px);
    }to{
        opacity: 1;
        transform: translateY(-650px)
    }
}

@keyframes mega-dropdown-out{
    from{
        opacity: 1;
        transform: translateY(-650px);
    }to{
        opacity: 0;
        transform: translateY(-670px)
    }
}

@keyframes dropdown-content-fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.dropdown-active{
    animation: mega-dropdown-in 0.8s forwards;
}

.dropdown-inactive{
    animation: mega-dropdown-out 0.8s forwards;
}

/* tablet section */
.tablet-section{
    display: flex;
    justify-content: space-around;
    padding: 100px 0px;
    align-items: center;
}

.tablet-section img{
    width: 370px;
    height: 400px;
    opacity: 0;
    animation: desc-animate 0.7s 1.7s forwards;
}

.tablet-section{
    color: black;
}

.tablet-description{
    transform: translateY(-100px);
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    animation: desc-animate 0.7s 1s forwards;
}

.tablet-description button{
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    /* neumorphism */
    box-shadow:  20px 20px 70px #bfbfbf, 
    -20px -20px 60px #ffffff;
}

@keyframes desc-animate{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@media screen and (max-width: 970px){
    .navlinks{
        width: 60%;
    }

    .background img{
        opacity: 0;
        transform: rotateZ(0) translateX(-50px);
        animation: phone-rotate-tablet-size 1s 1.2s forwards;
    }

    .description{
        transform: translate(420px, -270px);
    }

    .description div{
        font-size: 20px;
    }

    @keyframes phone-rotate-tablet-size{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .background{
        height: 1000px;
        background: linear-gradient(rgb(253, 253, 200) 50%, turquoise 50%);
    }

    .background img{
        transform: translateX(-20px);
    }

    .description{
        transform: translate(60px, 200px);
    }

    .navlinks{
        position: absolute;
        background-color: transparent;
        right: 0px;
        width: 50%;
        height: 92vh;
        top: 15vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: navlinks-slide-out-phone 1s forwards;
        opacity: 0;
    }

    .navlinks li{
        opacity: 0;
    }

    @keyframes navlinks-slide-out-phone{
        from{
            opacity: 0;
            transform: translateX(100%);
        }to{
            opacity: 1;
            transform: translateX(100%);
        }
    }

    .burger{
        display: block;
        cursor: pointer;
        opacity: 0;
        animation: burger-slide-in-phone 0.7s 0.5s forwards;
    }

    @keyframes burger-slide-in-phone{
        from{
            opacity: 0;
            transform: translateX(-30px);
        }to{
            opacity: 1;
            transform: translateX(-20px);
        }
    }

    .nav-active{
        animation: navlinks-fade-in-phone 1s forwards;
    }

    @keyframes navlinks-fade-in-phone{
        from{
            opacity: 0;
            transform: translateX(100%);
        }to{
            opacity: 1;
            background-color: white;
            transform: translateX(0%);
        }
    }

    .nav-inactive{
        animation: navlinks-fade-out-phone 1s forwards;
    }

    @keyframes navlinks-fade-out-phone{
        from{
            opacity: 1;
            background-color: white;
            transform: translateX(0%);
        }to{
            opacity: 0;
            transform: translateX(100%);
        }
    }

    @keyframes navlinks-items-fade{
        from{
            opacity: 0;
            transform: translateX(-20px);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes main-desc-slide-in-phone{
        from{
            opacity: 0;
            transform: translateX(-20px);
        }to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    @keyframes sub-desc-slide-in-phone{
        from{
            opacity: 0;
            transform: translateX(20px);
        }to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 4px);
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -3px);
    }

}